
nav ul li{
    display: inline-block;
    margin: 0 0 0 2rem;
 list-style: none;
 transition: color 300ms;
 cursor: pointer;
}

nav ul li:hover{
    color: #FF9FD6;
}

nav .mood-item{
    font-size: 2rem;
}