section{
    margin-top:1rem;
}
section .section-titles{
    line-height: 0;
}

section .section-titles h1{
    font-size: 4rem;
}

section .section-titles h5{
    font-size: 1.5rem;
    color: rgb(134, 118, 118);
    font-weight: 400px;
}

section p{
    font-size: 1rem;
    max-width: 400px;
    color: rgb(134, 118, 118);
}

section button{
    padding: 18px 25px;
    border: none;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    border-radius: 25px;

}

